.layoutWrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.mainSection {
    display: flex;
    flex-direction: column;
    flex: 5;
    background-color: #f9f9f9;
}

.pageContent {
    flex: 15;
    background-color: #ffffff;
    padding: 1rem;
}