.sideBar {
    width: 20vh;
    height: 100vh;
    background-color: #f0eded;
    flex: 1;
    border-right: 1px solid rgba(255, 255, 255, 0.512);

}

.logo {
    max-width: 90%;
    height: auto;
    object-fit: contain;
    display: block;
    margin-top: 0.5rem;

}

.menu {
    margin: 2rem 5px 2rem 5px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.subline {
    display: inline-block;
    color: black;
    overflow: hidden;
    font-size: 1.3rem;
    border-right: 2px solid #000;
    white-space: nowrap;
    animation: typing 2s steps(14, end) forwards, blink 0.7s step-end infinite;
    width: 0;
    margin-left: 5px;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 10ch
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}